*{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    width: 100%;
}
header{
    height: 80px;
    width: 100%;
    opacity: 100%;
    background: #FFFFFF;
    position: absolute;
}
.container{
    display: flex;
    flex-direction: column;
}
.logo{
    padding-left: 5%;
    margin-top:5%;
    width: 24px;
    height: 24px;
}
.menu-button, .close {
  display: block;
  margin: 1em;
  width: 24px;
  background-color: white;
  border: none;

}

.close:before, .close:after, .menu-button:before,
.menu-button:after {
  display: block;
  transition: all 200ms ease-in-out;
}
.close:before {
  display: block;
  transition: all 200ms ease-in-out;
  
}
.close:after{
  display: block;
  transition: all 200ms ease-in-out;
  
}
.menuon, .menu-button, .close {
  position: absolute;  
  box-sizing: border-box;
  margin: 3%;
  padding: 0;
  right: 2%;
  top: 2%;
  width: 24px;
  height: 24px;  
}
 
.menu-button, .close {
  font-size: 24px;
  pointer-events: none;
}

 
.menuon {
  opacity: 0; 
}
 
.menuon{
    float: right;
}
.menuon:checked ~ nav {
  display: block;
}
 
.menuon:checked ~ .menu {
  display: none;
}
 
.menuon:not(:checked) ~ .close {
  display: none;
}

nav{
    margin-top:26px;
    float: right;
    display: none;
    background: #0000EC;
}
nav ul li{
    flex-direction: column;
    text-decoration: none;
    height: 28px;
    padding: 1%;
    padding-top: 3%;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
    padding-left: 28px;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 28px;
}
nav ul li a:hover{
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    color: #00F3BB;
    text-decoration: line-through;
}
nav ul li a:active{
    font-family: 'IBM Plex Mono';
    color: rgba(6,10,36,0.56);
    text-decoration: line-through;
}
.titulo{
    margin-top: 120px;
    margin-left: 13%;
    margin-right: 13%;
}
h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
}
.span1{
    text-decoration: line-through;
}
.span2{
    color: blue;
}
.description{
    color: #060A24;
    letter-spacing: 0;
    
}
.moreinf{
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    background-color: #00F3BB;
    padding: 2%;
    width: 100%;
    height: auto;
    border:  #00F3BB;
    color: #060A24;
}
#moreinf{
    
    font-size: 16px;
    margin-top: 56px;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;

}
.moreinf:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #ffffff;
}
.ep{
    padding-top: 10%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 7%;
    padding-bottom: 26px;
}
.episodios{
    margin-top: 80px;
    padding-left: 7%;
    padding-right: 7%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0, -5deg);
    width: auto;
    display: flex;
    overflow: hidden;
    padding-bottom: 5%;
}
.noskew{
    transform: skew(0, 5deg);
}
.spotify{
    width: 100%;
    height: 252px;
    border:0;
    background-color: transparent;
    overflow: hidden;
}
.epis{
    margin-right: 2%;
    margin-bottom: 2%;
    width: 90%;
    flex:1;
    
}
.conocenos{
    z-index: 1;
    position: sticky;
    width: auto;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.phone{
       
    
    width: 100%;
    height: auto;
    flex: 1;
}
.imgphone{
    width: 100%;
}
.aboutus{
    width: auto;
    padding-left: 13%;
    padding-right: 13%;
    flex: 1;   
}
.aboutus h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    margin-bottom: 24px;
    font-weight: 400;

}
.aboutus p{
    
    margin-bottom: 15px;

}
.entrevistas{
    width: 100%;
    
    
}
.ent{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    padding-left: 13%;
    padding-bottom: 36px;
    padding-top: 3%;
}
.fotos{
        flex: 1;
        width: 100%;
    }
.contfotos{
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

}
#center{
    width: 100%;
    text-align: center;
    padding-bottom: 3%;

}
.top{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'IBM Plex Sans';
    font-weight: 600;

}
.topcont{
    margin: 4% 0 4% 0;
}
.novedades {
  position: relative;
  padding-top: 5%;
  overflow: hidden;

}

.nov {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skewY(-6deg);
  transform-origin: bottom right;
}
.titnov {
    margin: 0;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
  
}
.contnov .moreinf{
    margin-top: 2%;
    width: 74%;
    
}
.contnov{
    padding: 10% 0;
    text-align: center;
    position: relative;
}
footer{
    margin-top: -2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:5%;
    padding-right:5%;
    position: sticky;
    z-index: 1;
    background-color: white;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.redes{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-top: 2%;
}
.red{
    flex:1;
}
.c{
    color: #060A24;
    padding: 1%;
}

@media all and (min-width: 800px){
    body{
        font-size: 16px;
    }
    .logo{
        margin-top:2%;
        width: 36px;
        height: 36px;
    }
    .menuon, .menu-button, .close{
        display: none;
    }
    nav{
        display: block;
        position: absolute;  
        box-sizing: border-box;
        margin: 0;
        padding-right: 2%;
        right: 2%;
        top: 2%;
        width: 30px;
        height: 30px;
        background: white;
    }
    nav ul{
        display: flex;
        float: right;
        margin:0;

    }
    nav ul li{
        flex-direction: row;
        list-style: none;
    }
    nav ul li a {
        color: #060A24;
    }
    h1{
        font-size: 64px;
    }
    .description{
        width: 50%;
    }
    
    .spotify{
        width: 43%;
        padding: 3%;
    }
    
    .ep, .aboutus h2, .ent, .titnov{
        font-size: 48px;
    }
    .conocenos{
        display:flex;
        flex-direction: row;
        padding-left: 13%;
        align-items: center;
    }
    .phone{
        width: 50%;
    }
    .aboutus{
        width: 30%;
        padding-right: 20%;
    }
    .fotos{
        flex: 1;
        width: 33%;
    }
    .contfotos{
        
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;

    }
    .footer{
        width: 90%;
        flex-direction: row;
        text-align: unset;
        justify-content: space-between;
        
        

    }

    .redes{
        flex:2;
        margin-top: -2%;
    }
    .copyright{
        flex:8;
    }
    .top{
        flex-direction: row;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 24px;
    }
    .topcont{
        flex:1;

    }
    .contnov .moreinf, #moreinf{
        font-size: 18px;
        width: auto;
    }
}
